*{
    margin: 0;
    padding: 0;
}

.inputField{
    width: 50%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    margin: 1%;
    margin-left: 0;
}

.formButton{
    width: auto;
    height: auto;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 4px;
}

.formButton:hover{
    background-color: #ccc;
}

.column{
    width: 100%;
    height: auto;
}

table{
    width: 100%;
    margin-left: 3%;
}