@page
@model CreateAccountModel
@{
    ViewData["Title"] = "Create your Zienema account";
}
<h1>@ViewData["Title"]</h1>

<p>Create a Zienema account to make reservations for movies!</p>

<form method="post">
    <table>
        <tr class="column">
            <td>
                First name
            </td>
            <td>
                <input class="inputField" />
            </td>
        </tr>
        <tr class="column">
            <td>
                Infix
            </td>
            <td>
                <input class="inputField" />
            </td>
        </tr>
        <tr class="column">
            <td>
                Last name
            </td>
            <td>
                <input class="inputField" />
            </td>
        </tr>
        <tr class="column">
            <td>
                Age
            </td>
            <td>
                <input class="inputField" />
            </td>
        </tr>
        <tr class="column">
            <td>
                E-mail
            </td>
            <td>
                <input type="email" class="inputField" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" class="inputField" />
            </td>
        </tr>
        <tr>
            <td>
                Repeat password
            </td>
            <td>
                <input type="password" class="inputField" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="formButton">Create account</button>
            </td>
        </tr>
    </table>
</form>