@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Login to your Zienema account</p>

<form method="post">
    <table>
        <tr class="column">
            <td>
                E-mailadres
            </td>
            <td>
                <input type="email" class="inputField" />
            </td>
        </tr>
        <tr>
            <td>
               Password
            </td>
            <td>
                <input type="password" class="inputField" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="formButton" type="button">Login</button>
            </td>
        </tr>
    </table>    
</form>