@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Login to your Zienema account</p>

<form method="post">
    <input class="inputField" placeholder="E-mailadres"/>
    <br />
    <input class="inputField" placeholder="Password"/>
    <br />
    <button class="formButton" type="button">Login</button>
</form>